.Peli {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: lime;
}

.otsikko {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-size: 40px;
}

button {
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%);

  width: 150px;
  height: 50px;
  background-color: white;
  color: black;
  padding: 2px 2px;
  font-size: 24px;
}

button:hover {
  background-color: lightgray;
}
